* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7E7CE;
  text-align: center;
}

.container {
  margin-top: 8%;
}

.card-content {
  background-color: lightgrey;
}

td,
th {
  /*spaces out the rows and columns a bit */
  background-color: #eef2f7;
}

th {
  color: white;
  background-color: #3d85c6;
}

h2 {
  color: aliceblue;
  background-color: #3d85c6;
}

.container {
  border-radius: 10px;
}


/* used to remove the markers/bullets */
ul{ 
list-style-type: none;
}


/* Styling delete and complete buttons */

.check-button-background {
  background-color: lightgreen;
  color: black;
}
