
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
  color: #454851;
  font-family: 'Fira Sans', sans-serif ;
  background-color: #454851;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;



}
.my-3{
  font-size: 24px;
  font-weight: 400;
}
.mb-3{
  text-align: center;
}

.app{
  width: 800px;
  height: 800px;
  border: 5px solid #95D7AE;
  border-radius: 30px ;
  padding: 15px;
  background-color: #FCEFF9;
  overflow-y: scroll;

}

.app::-webkit-scrollbar { width: 0 !important };

#addNew{
  display: flex;
  color: #454851;
  background-color: #95D7AE; /* rgba; */
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  
  
}
.fa-plus:hover{
  background-color: #454851;
  color: #FCEFF9;
  transform: scale(1.1); 

   
}
.fa-plus{
  background-color: #FCEFF9;
  padding: 3px;
  border-radius: 3px;
  transition: all .2s ease-in-out; 
}

#tasks div{
  background-color: #FCEFF9;
  border: 3px solid #454851;
  padding: 5px;
  border-radius: 15px;
  display: grid;
  gap: 4px;
  transition: all .2s ease-in-out; 
  margin: 10px;
  overflow: hidden;
  hyphens: auto;
  font-size: larger;
  word-break: break-all; /* keeps long text from overflowing outside of div */
}
#tasks div:hover{
  transform: scale(1.03); 
  background-color: #95D7AE;
}


.options{
  justify-self: center;
  display: flex;
  gap: 20px;
}


.options i {
  cursor: pointer;
}

#msg {
  color: red;
}

.btn-primary{
  background-color: #73956F;
  border: #95D7AE;
}
